#ruleta {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
  position: relative;
}



#ruleta img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 155px;
  height: 155px;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: blur(10px); /* Slight blur */
  backdrop-filter: blur(10px) brightness(1.2); /* Frosted glass effect */
  z-index: 0;
  border: 2px solid snow; /* White border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}


.my-custom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 20px; /* Optional: Set border radius for rounded corners */
}

.my-custom-button {
  border-radius: 20px; /* Adjust the radius as needed */
}

/* Ensure that the background is blurred */
.swal2-backdrop {
  backdrop-filter: blur(8px); /* Adjust blur as needed */
}

.ball {
  width: 10px;
  height: 10px;
  background-color: #b9ada7;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.outer-cont {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 11rem;
}

.swal-border {
  border: 1px solid white;
  border-radius: 10px; 
}



@keyframes ballSpin {
  0% {
    transform: rotate(0deg) translate(95px) rotate(0deg);
  }
  20% {
    transform: rotate(720deg) translate(95px) rotate(-720deg); /* 2 fast spins */
  }
  100% {
    transform: rotate(1440deg) translate(95px) rotate(-1440deg); /* Slow down to stop */
  }
}

@keyframes ballStop {
  0% {
    transform: rotate(0deg) translate(95px) rotate(0deg);
  }
  100% {
    transform: rotate(0deg) translate(95px) rotate(0deg);
  }
}

.ball {
  width: 12px;
  height: 12px;
  background-color: #868483;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  position: relative;
  animation: rotateBall 10s linear;
}

.ball::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  background-color: #ffffff99;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  background-color: rgba(58, 154, 233, 0.6);
  color: #e2e2e2;
  font-family: cursive;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: bolder;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
  font-size: 16px;
  outline: none;
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}





@keyframes rotateBall {
  0% {
    transform: rotate(0deg) translate(85px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(85px) rotate(-360deg);
  }
}

@media (max-width: 640px) {
  .btn {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 16px; 
    font-size: 14px; 
    font-family: cursive;
    z-index: 1;     
  }
  #ruleta {
    width: 65%;
    height: 65%;

  }
  .ball {
    width: 6px;
    height: 6px;
  }
  .ball::before {
    width: 3px;
    height: 3px;
  }
  .outer-cont {
    top: 0.5rem;
    margin-top: 7.5rem;
  }
  .circle {
    top: 32%;
    left: 50%;
    width: 95px;
    height: 95px;
  }
  
  @keyframes ballSpin {
    0% {
      transform: rotate(0deg) translate(60px) rotate(0deg);
    }
    20% {
      transform: rotate(720deg) translate(60px) rotate(-720deg); /* 2 fast spins */
    }
    100% {
      transform: rotate(1440deg) translate(60px) rotate(-1440deg); /* Slow down to stop */
    }
  }

  @keyframes ballStop {
    0% {
      transform: rotate(0deg) translate(60px) rotate(0deg);
    }
    100% {
      transform: rotate(0deg) translate(60px) rotate(0deg);
    }
  }
}
